name: Generate terraform docs

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions: read-all

jobs:
  # This workflow contains a single job called "docs"
  docs:
    permissions:
      contents: write # for actions/checkout to fetch code

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so follow-up steps can access it
      - uses: actions/checkout@v4
        name: Checkout source code
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Render terraform docs inside the README.md and push changes back to PR branch
        uses: terraform-docs/gh-actions@v1.0.0
        with:
          working-dir: .
          output-file: README.md
          output-method: inject
          output-template: |-
            <!-- BEGINNING OF PRE-COMMIT-TERRAFORM DOCS HOOK -->
            {{ .Content }}
            <!-- END OF PRE-COMMIT-TERRAFORM DOCS HOOK -->
          git-push: "true"
